<nav>
  <div class="header_items">
    <div class="logo">
      <a href="#">
        <h1>Paidter<span>.</span></h1>
      </a>
    </div>
    <div class="menu_item">
      <ul>
        <li>
          <app-link linkName="Home"></app-link>
        </li>
        <li>
          <app-link linkName="My Painting"></app-link>
        </li>
        <li>
          <app-link linkName="Cart"></app-link>
        </li>
      </ul>
    </div>
    <div class="auth_item">
      <ul>
        <li>
          <app-link linkName="Login"></app-link>
        </li>
        <li>
          <app-link linkName="Register"></app-link>
        </li>
      </ul>
    </div>
  </div>
</nav>
